body {
    padding-top:50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.error {
    font-weight: 600;
    color: red;
}

#copyright {
    text-align: center;
}

.em-font-12 {
    font-size: 1.2em;
}

.margin-top-25 {
    margin-top: 25px;
}
a.button:hover{
    cursor: pointer;
}
.timer {
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 18px;
}
.product-name {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}
.price{
    font-size: 1.1em;
    font-weight: bold;
}
.price-block{
    margin-bottom: 15px;
    text-align: center;
}
.product-description {
    margin-bottom: 10px;
    line-height: 15px;
    max-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    height: 30px;
    -webkit-box-orient: vertical;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.width-49{
    width: 49%;
 }
.buttons-block{
    margin-bottom: 10px;
}
.product-block {
    border: 1px solid lightgray;
    margin-bottom: 15px;
    margin-left: 15px;
}
.hidden{
    display: none;
}
.heading-24{
    font-size: 24px;
}
.heading-15{
    font-size: 15px;
}
.font-weight-medium{
    font-weight: 600;
}
.heading-18{
    font-size: 18px;
}
.custom-dropdown a {
    color: #999999;
    margin-bottom: 5px;
    display:inline-block;
}
.custom-dropdown a:hover {
    color: #fff;
    text-decoration: none;
}
.custom-dropdown hr{
    margin-bottom: 10px;
    margin-top: 10px;
}